#about-subheading {
  font-size: 115%;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 15%;
}

#program-btn {
  color: #ffffff;
  text-decoration: none;
  background-color: #4caf50;
  border-color: #4caf50;
}

#courses,
#programs {
  text-align: center;
  padding: 2%;
}
.course-prof {
  color: #4caf50;
  font-weight: bold;
}
#program-highlight {
  background-color: #c0c0c0;
  padding: 1%;
  margin: 1.75%;
}
