img {
  border-radius: 0px;
}

.card {
  width: 22rem;
}

.card-row {
  padding-left: 5%;
  padding-bottom: 2%;
}

#description {
  padding: 0rem 5rem 2rem 5rem;
}

#card-btn {
  color: white;
  text-decoration: none;
  background-color: #4caf50;
  border-color: #4caf50;
}
