.col-1 {width: 6.25%;}
.col-2 {width: 12.5%;}
.col-3 {width: 18.75%;}
.col-4 {width: 25%;}
.col-5 {width: 31.25%;}
.col-6 {width: 37.5%;}
.col-7 {width: 43.75%;}
.col-8 {width: 50%;}
.col-9 {width: 56.25%;}
.col-10 {width: 62.5%;}
.col-11 {width: 68.75%;}
.col-12 {width: 75%;}
.col-13 {width: 81.25%;}
.col-14 {width: 87.5%;}
.col-15 {width: 93.75%;}
.col-16 {width: 100%;}
*{
    box-sizing: border-box;
}
[class*="col-"]{
    float: left;
    padding: 1%;
}

h1, h2, h3{
  font-family: 'Anonymous Pro', monospace;
}
h3{
    font-size: 95%;
}
p, ul, a, footer{
  font-family: 'Roboto', sans-serif;
}
a{
  color: #95D180;
  text-decoration: none;
}
a:visited{
  color: #95D180;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  color: #CACACA;
  font-weight: bold;
  text-decoration: none;
}
a:active{
  color: #95D180;
  font-weight: bold;
  text-decoration: none;
}

#header{
  text-align: center;
  background-color: #EEEEEE;
  padding: 12px 12px;
}
#learnmore{
  background-color: #95D180;
  color: #fff;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: dashed;
  border-color: #000;
}
#learnmore a:hover{
    color: #CACACA;
}
/*#socials{
    text-align: right;
}*/
.fa{
  font-size: 150%;
  text-decoration: none;
}
.fa:hover{
    opacity: 0.7;
}
.fa-linkedin{
    color: #007BB5;
}
.fa-facebook{
    color: #3B5998;
}
.fa-instagram{
    color: #D327C3;
}
#profilelink a:hover{
    text-decoration: underline;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
}
li a{
  color: #000;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}
li a:visited{
  color: #000;
  font-weight: bold;
  background-color: #F8F8F8;
  text-decoration: none;
}
li a:hover{
  color: #EEEEEE;
  font-weight: bold;
  background-color: #F8F8F8;
  text-decoration: none;
}
li a:active{
  color: #000;
  font-weight: bold;
  background-color: #F8F8F8;
  text-decoration: none;
}

footer{
    text-align: center;
}

/* CONTACT PAGE SPECIFIC */
table{
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 60%;
}
td{
    font-width: bold;
}
td, th{
  border: 1px solid #95D180;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even){
  background-color: #95D180;
}
